
<footer class="app-footer">
    <nav class="wrap-main-menu">
      <ul class="menu">
        <li>
					<a 
            style="display: flex;" 
            href="https://github.com/leonardopaiva/angular-phone-scheduler" 
            target="_blank" rel="noopener noreferrer" 
            matTooltip="Ver repositório no Github"
          >
            <mat-icon class="menu-icon" aria-hidden="false" aria-label="Agenda Icon">code</mat-icon>
            <span>https://github.com/leonardopaiva/angular-phone-scheduler</span>
          </a>
        </li>
      </ul>
    </nav>
</footer>