<div class="row">
	<div class="col-md-12">
		<h1>Sobre o Aplicativo</h1>

		<p>Este aplicativo é uma demonstração construída com Angular. Ele serve como exemplo para ilustrar como criar componentes e interagir com dados de forma eficiente.</p>
		<p>Você pode acessar o código-fonte completo do projeto no seguinte repositório:</p>

		<p>
			<a 
				style="display: flex;" 
				href="https://github.com/leonardopaiva/angular-phone-scheduler" 
				target="_blank" 
				rel="noopener noreferrer" 
				matTooltip="Ver repositório no Github">
				Acessar código no GitHub
			</a>
		</p>

		<p>Este projeto foi desenvolvido para demonstrar boas práticas no desenvolvimento de aplicações Angular, incluindo componentes, guards, resolvers, e a integração com APIs externas.</p>

		<div>
			<p>Desenvolvido por Leonardo Paiva <a href="https://www.leonardopaiva.com" target="_blank">www.leonardopaiva.com</a></p>
		</div>
	</div>
</div>
  